/* Replace these with your API, Location and Lockdown Keys from the Vivi Console */
const apiKey = ""
const locationKey = ""
const apiBeginUrl = "https://api.vivi.io/api/public/v1/emergencies/trigger"
const apiCancelUrl = "https://api.vivi.io/api/public/v1/emergencies/cancel"
const lockdownKey = ""